* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #0a0a0a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

nav div {
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  min-height: 100vh;
  padding: 100px 60px;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero h1 {
  font-size: 70px;
}

#hero h2 {
  font-size: 35px;
  margin: 10px 0;
}